@font-face {
  font-family: open-sans;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: open-sans-bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}

* {
  font-family: open-sans, Arial, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 3000px;
  background-color: #1D3557;
}

nav {
  display: grid;
  grid-template-columns: 15% 85%;
}

nav div:nth-child(1) {
  background-color: #457B9D;
}

nav div:nth-child(2) {
  background-color: #E43946;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  line-height: 5;
}

nav ul li {
  list-style: none;
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav ul li a {
  padding: 0 15px;
}

nav ul li a,
footer ul li a {
  color: white;
  text-decoration: none;
  font-family: open-sans-bold, Arial, Helvetica, sans-serif;
  font-size: 20px;
  letter-spacing: .02rem;
}

nav ul li a:hover,
footer ul li a:hover {
  color: rgb(212, 212, 212);
}

.text-shadow {
  filter: drop-shadow(9px 4px 23px rgba(0, 0, 0, 0.25));
}

.selected,
.selected:hover {
  color: rgb(8, 8, 8);
}

#logo {
  font-family: open-sans-bold, Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: white;
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 30px;
}

#sub {
  font-size: 20px;
}

footer {
  background-color: #E43946;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 3000px;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}

footer ul {
  display: flex;
  flex-direction: row;
}

footer ul li {
  margin: auto;
  display: inline;
  padding: 1rem;
  font-weight: bold;
  text-align: center;
}

#email {
  padding: 10px 60px;
  border-radius: 8px;
  border-color: white;
}

#subscribe {
  background-color: #457B9D;
  padding: 7px 40px;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  box-shadow: 7px 6px 18px rgba(0, 0, 0, 0.25);
  border-color: #457B9D;
}

#subscribe:hover {
  cursor: pointer;
  background-color: #3a6986;
}

@media only screen and (max-width: 600px) {

  nav {
    background-color: #E43946;
  }

  nav ul,
  footer ul {
    flex-direction: column;
    line-height: 3;
  }
  footer ul li {
    margin: 0;
    padding: 0;
  }
  #email {
    margin-bottom: 20px;
  }

  #logo {
    height: 80px;
    filter: drop-shadow(9px 4px 23px rgba(0, 0, 0, 0.25));
  }

  #sub {
    font-size: small;
  }

  #subscribe{
    width: 100%;
  }

}

@media only screen and (max-width: 300px) {

  nav,
  footer {
    display: block;
    width: 300px;
  }

  #email {
    width: 16%;
  }

  footer .container {
    display: block;

  }

  footer ul {
    padding: 0;
  }

  footer ul li {
    display: block;
    padding: 0;
  }
  #subscribe{
    width: 58%;
  }




}